<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>

<body>
<div class="col-md-6  bg-primary w-100 text-light" id="welcome">
    TrueFace
</div>
<div class="container">
    <div class="form-container">


        <form method="POST" id="register-form" action="/register">
            <fieldset>
                <legend class="fw-bold text-center">Regisztráció</legend>
                <label for="name"></label><input class="form-control" type="text" name="name" id="name" placeholder="Teljes név" required>
                <label for="email"></label><input class="form-control" type="text" name="email" id="email" placeholder="ateemail@cimed.hu" required>
                <label for="birthday"></label><input class="form-control" type="date" name="birthday" id="birthday" placeholder="" required>
                <label for="password"></label><input class="form-control" type="password" name="password" id="password" placeholder="Jelszó" required>
                <label for="password2"></label><input class="form-control" type="password" name="password2" id="password2" placeholder="Jelszó megint" required>
                <% if(hibaRegister){ %>
                    <p class="text-danger" style="padding-left: 1%"><%- hibaRegister %></p>
                <% } %>
                <button type="submit" class="btn btn-primary mt-2">Regisztráció</button>
            </fieldset>

        </form>
    </div>
    <div class="form-container">
        <form method="POST" id="login-form" action="/login">
            <fieldset>
                <legend class="fw-bold text-center">Bejelentkezés</legend>
                <label for="name"></label><input class="form-control" type="text" name="email" id="email" placeholder="Email" required>
                <label for="password"></label><input class="form-control" type="password" name="password" id="password" placeholder="Jelszó" required>
                <% if(hibaLogin){ %>
                    <p class="text-danger" style="padding-left: 1%"><%- hibaLogin %></p>
                <% } %>
                <button type="submit" class="btn btn-primary mt-2">Login</button>
            </fieldset>
        </form>
    </div>
</div>
<!--<script src="js/main.js"></script>-->
<%- include('assets/footer')%>
</body>

</html>