<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<body class="m-0 p-0 w-100">
<%- include('assets/header')%>
<% if(current_role === 'ADMIN'){%>
<div class="connectionLink"><a href="/connection">Connection proof</a></div>
<% } %>
<div class="main" style="margin-left: 500px;margin-right: 500px">
Am akkorabaj nemisvolt xd
</div>
<%- include('assets/footer')%>
</body>

</html>