<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>

<body class="w-100 h-100 d-flex flex-column min-vh-100">
<%- include('assets/header') %>

<div class="container-fluid">
    <% pictures.forEach(pic =>{ %>
        <img class="img-thumbnail" src="uploads/<%= pic[3] %>" alt="picture" width="10%" height="10%" data-bs-toggle="modal" data-bs-target="#imageModal">
    <% }) %>

    <div class="modal fade position-relative" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="modalImage" src="" alt="picture" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="2%"
             width="2%" version="1.1" id="Capa_1" viewBox="0 0 27.963 27.963" xml:space="preserve">
<g>
    <g id="c140__x2B_">
        <path d="M13.98,0C6.259,0,0,6.26,0,13.982s6.259,13.981,13.98,13.981c7.725,0,13.983-6.26,13.983-13.981    C27.963,6.26,21.705,0,13.98,0z M21.102,16.059h-4.939v5.042h-4.299v-5.042H6.862V11.76h5.001v-4.9h4.299v4.9h4.939v4.299H21.102z    "/>
    </g>
    <g id="Capa_1_9_">
    </g>
</g>
</svg>

</div>


<%- include('assets/footer') %>
</body>
</html>