<footer class="bg-primary mt-auto mt-4 " style="margin-top: 20px;">
    <script src="script/common.js"></script>
    <div>
        <p class="text-center text-light align-middle">
            TrueFace© 2024
        </p>
    </div>
</footer>