<footer class="bg-primary bottom-0 w-100" style="margin-top: 20px;">
        <div>
            <p class="text-center text-light align-middle">
              TrueFace© 2024
            </p>
        </div>
</footer>