<header id="header" style=" padding-bottom: 70px;">
    <nav class="navbar bg-primary navbar-expand-sm bg-primary border-bottom border-body position-fixed w-100" data-bs-theme="dark" >
        <a class="navbar-brand border-end border-light p-1" href="#">TrueFace</a>
        <div class="collapse navbar-collapse " id="collapsibleNavbar" >
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/main">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            </ul>
                <div class="navbar-text pe-2" >Jelenlegi felhasználó: <%= current_name%></div>
        </div>
        <a class="me-auto float-end" href="/logout"><button class="btn btn-danger">Logout</button></a>
        <button type="button" class="btn btn-primary d-sm-none position-fixed end-0" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-expanded="false" aria-controls="collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>