<header id="header" style=" padding-bottom: 70px;">
    <nav class="navbar bg-primary navbar-expand-sm bg-primary border-bottom border-body position-fixed w-100" data-bs-theme="dark" >
        <a class="navbar-brand border-end border-light p-1" href="#">TrueFace</a>
        <div class="collapse navbar-collapse " id="collapsibleNavbar" >
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/main">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            </ul>
                <div class="navbar-text pe-2" >Jelenlegi felhasználó: <%= current_name%></div>
        </div>
        <a class="me-auto float-end" href="/logout"><button class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" y1="12" x2="9" y2="12"/></svg><span class="ms-2">Logout</span></button></a>
        <button type="button" class="btn btn-primary d-sm-none position-fixed end-0" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-expanded="false" aria-controls="collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>